services:
  app:
    build: .
    container_name: python-live
    # command: uvicorn src.main:app --host 0.0.0.0 --port 80 --reload
    command: jupyter notebook --ip 0.0.0.0 --port 8888 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''
    ports:
      - 80:80
      - 5678:5678
      - 8888:8888
    volumes:
      - .:/code
    depends_on:
      - redis
  redis:
    container_name: redis
    image: redis:alpine